<h1>Categories#strategy</h1>

<p>Find me in app/views/categories/strategy.html.erb</p>

<% path = "images/#{Category.first.name.downcase}/#{Category.first.games.first.name}.jpg"%>
<%= image_tag(path) %>
<%= image_tag("argentburst.jpg") %>
<%= image_tag("four-second-frenzy-14.jpg") %>
<%= image_tag("indestruc2tank-28.gif") %>
<p>
	sdfsd
</p>
<%= path %>
