<div class="container menu">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><%= link_to "All games", root_path %></li>
				<li><%= link_to "Action", category_path(5) %></li>
				<li><%= link_to "Adventure & RPG", category_path(6) %></li>
				<li><%= link_to "Misc", category_path(7) %></li>
				<li><%= link_to "Music", category_path(8) %></li>
				<li><%= link_to "Puzzle", category_path(9) %></li>
				<li><%= link_to "Shooting", category_path(10) %></li>
				<li><%= link_to "Sports & Racing", category_path(11) %></li>
				<li><%= link_to "Strategy & Defense", category_path(12) %></li>
			</ul>
		</div>
	</div>
</div>

