<div class="container menu">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><%= link_to "All games", root_path %></li>
				<li><%= link_to "Action", categories_action_path %></li>
				<li><%= link_to "Adventure & RPG", categories_adventure_path %></li>
				<li><%= link_to "Misc", categories_misc_path %></li>
				<li><%= link_to "Music", categories_music_path %></li>
				<li><%= link_to "Puzzle", categories_puzzle_path %></li>
				<li><%= link_to "Shooting", categories_shooting_path %></li>
				<li><%= link_to "Sports & Racing", categories_sports_path %></li>
				<li><%= link_to "Strategy & Defense", categories_strategy_path %></li>
			</ul>
		</div>
	</div>
</div>